{
  "presets": ["es2015"],
  "plugins": [
    [
      "module-alias", [
      {"src": "./src", "expose": "cf-hpe-api"},
      {"src": "./src/lib", "expose": "lib"}
    ]
    ],
    "transform-object-rest-spread"
  ]
}
